
/components/*
/config/*
/documentation/*
/examples/*
/external/*
/external_tools/*
/helper/*
/pin configuration files/*
/svd/*

*.hex
*.md
*.md
*.o
*.d
*.ld
*.crf
*.icf
*.html
*.txt
*.uvopt
*.msi
*.uvproj
*.uvoptx
*.uvprojx
*.ewd
*.ewp
*.xml
*.lst
*.htm
*.lnp
*.sct
*.dep
*.ini
*.map
*.TMP
*.eww
*.axf
*.bak
*.Austin
*.Austin Wolf
*.0000
*.emProject
*.iex
