

/documentation/*
/external_tools/*
/svd/*
/examples/*

*.hex
*.md
*.md
*.o
*.d
*.ld
*.crf
*.icf
*.html
*.txt
*.uvopt
*.msi

*.ewd
*.ewp
*.xml
*.lst
*.htm
*.lnp
*.sct
*.dep
*.ini
*.map
*.TMP
*.eww
*.axf
*.bak
*.Austin
*.Austin Wolf
*.0000
*.emProject
*.iex
*.__i
*._ia
examples
*.linf
*.browse
*.pbd
eMD_ICM20648_20948_v1_3/emd-ICM20648-20948-stm32f4xx-1.3.0.rc1/emd-ICM20648-20948-stm32f4xx-1.3.0.rc1/embedded-motion-driver/EWARM/Debug/Obj/STM32F4_eMD-VDM.pbw
